@import '../../style/variables';
.slideshowSection {
  width:100%;
  height:100%;
  margin:0;
  .picturesDiv {
    display: flex;
    position : relative;  
    margin-right: 20px;
  }
  .slideshowImg {
    overflow: hidden;
    width: 100%;
    border: 1px solid $font-color;
  }
  .PArrow {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 40px;
  }
  .PArrow:hover, .NArrow:hover{
    transform: scale(1.1);
    cursor: pointer;
  }
  .PArrowNone, .NArrowNone, .noSlideshowCounter {
    display: none;
  }
  .NArrow {
    position: absolute;
    top: 5%;
    right: 5%;
    height: 40px;
  }
  .slideshowCounter {
    position: absolute;
    bottom :5%;
    right: 50%;
    color:$font-color;
  }
}
/************* Tablette *******************/
@media screen and (min-width:769px) and (max-width: 1023px){

}
/************* Mobile *******************/
@media screen and (max-width: 768px) {

}
