@import '../../style/variables';

.card {
  display:flex;
  flex-direction: column;
  align-items: center;
  width : 100%;
  height: 100%;
  border: 1px solid $font-color;
  cursor : pointer;
  position: relative;
  .cardImg {
    width: 100%;
    height:60%;
    object-fit:fill;  
  }
  .cardTitle {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .cardDescription {
    text-align: center;    
    font-size: 1.2rem;
    color: $font-color;
    margin:auto;
  }
  .overlayDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease; 
}

}
.card:hover .overlayDiv {
  opacity: 1; 
}

.plusDiv {
  font-size: 40px;
  color: #fff;
}
