  // couleurs principales
  $portfolio-color: #1D6154;
  $title-color : #FFFFFF;

  // couleurs de fond
  $background-text-color: #F2F2F2;
  $background-nav-color :rgb(240, 211, 96);
  $background-color :#F2F2F2;
  
  // textes
  $font-family: "Lato", sans-serif;
  $font-weight: 400;
  $font-size: 16px;
  $font-color: #1D6154;

  // divers
  $border-radius: 25px;
  $padding : 50px;
