  // couleurs principales
  $portfolio-color: rgb(240, 211, 96);
  $title-color : #FFFFFF;

  // couleurs de fond
  $background-text-color: #F2F2F2;
  $background-nav-color :rgb(240, 211, 96);
  $background-color :#F2F2F2;
  
  // textes
  $font-family: "Syne", sans-serif;
  $font-weight: 500;
  $font-size: 20px;
  $font-color: #1D6154;

  // divers
  $border-radius: 25px;
  $padding : 50px;
